
.menu {
  margin: 0;
}

nav {
  flex: 1 0 60%;
}

ul {
  background-color: #f7bc37;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

ul > li {
 padding: 5px 0;
}

ul > li button {
  background-color: transparent;
  border: 0;
  border-right: 1px solid #fff;
  color: #fff;
  text-shadow: 1px 0px 0px #ddd;
  font-family: sans-serif;
  font-size: 1em;
  max-width: 140px;
  padding: 10px 20px;
}

ul > li button:hover,
ul > li button:focus {
  outline: none;
  background-color: #eab43a;
}

ul > li button a {
  color: #fff;
  text-decoration: none;
}
