.header {
  display: flex;
  flex-direction: column;
}

#logo {
  position: absolute;
  top:20px;
}

#logo a {
  font-family: 'Righteous', cursive;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  padding: 5px;
}